
/* nav bar & button styling */

img.navBrand {
	height: 35px;
	margin-bottom: 15px;
}

button {
	margin-left: 15px;
	margin-right: 15px;
}

/* on load main div styling */

body {
	background-color: #0e0e0e;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #504a4a;
}

img.loadBrand {
	padding-top: 25px;
	padding-bottom: 300px;
}

.border-0 {
	border: 5px solid pink;
}

.border-1 {
	border: 5px solid blue;
}


/*challenges*/



/** Dynamically add the team button in the navbar
* Styling:  The Marvel Hex colors are:
	* Red = #e23636	
	* Black = #000000	
	* Gray = #504a4a	
	* Blue = #518cca	
	* Orange = #f78f3f*/